:root {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

@import "tailwindcss";

button {
  @apply text-lg font-semibold px-10 py-5 border border-gray-300 bg-white rounded-full transition-all hover:cursor-pointer shadow-md active:shadow-none;
}

.website-iframe {
  aspect-ratio: calc(4 / 3);
}